.buffer rect {
  cursor: pointer;
  stroke-width: 1px;
  transition: all 200ms 0ms ease-out;
}

.buffer rect:hover {
  stroke-width: 10px;
  transition: all 200ms 0ms ease-out;
}

.fiber-strand rect {
  cursor: pointer;
  stroke-width: 0px;
  transition: all 200ms 0ms ease-out;
}

.fiber-strand rect:hover {
  stroke-width: 2px;
}

circle.connector {
  cursor: move;
}
